{% extends "base.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->
<!-- {% import "qform.html" as wtf %} -->

{% block title %}Note{% endblock %}

<!-- {% block head %}
{{ super() }}

{% endblock %} -->


{% block navbarbrand %}
<a class="navbar-brand" href="{{ url_for('main.index') }}">{{current_user.name}}'s Private Note</a>
{% endblock %}

{% block login %}
{% if current_user.is_authenticated %}
    <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
{% else %}
    <li><a href="{{ url_for('auth.login') }}">登录</a></li>
{% endif %}
{% endblock %}



{% block page_content %}
<!-- {{ wtf.quick_form(form) }} -->


<form class="form form-inline" method="post" role="form">
        <!-- {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
       -->
        {{ form.csrf_token }}
        {{ wtf.form_field(form.keyword, form_type="basic") }}
        {{ wtf.form_field(form.tag, form_type="basic") }}
        {{ wtf.form_field(form.submit) }}

        <!-- <input type="submit" value=""> -->
</form>


<div class="page_content">

        {% if current_user.is_authenticated %}
            {% if posts %}
                <br>
                <div class="comment">
                    关键词  {{keyword}}  标签  {{tag}} 搜索结果:
                </div>
                <br>
                
                <a class="post">
                    {% for post in posts %}
                    <div class="post">
                        <div class="post-content">
                            <a href="{{ post.link }}">
                                <b>{{ post.title }}</b> 
                            </a>                        
                        </div>
                    </div>
                    {% endfor %}
                </a>
                
            {% endif %}

        {% else %}
            Stranger        
        {% endif %}
</div>
{% endblock %}
