{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Note{% endblock %}

<!-- {% block head %}
{{ super() }}

{% endblock %} -->


{% block navbarbrand %}
<a class="navbar-brand" href="{{ url_for('main.index') }}">Private Note</a>
{% endblock %}

{% block login %}
{% if current_user.is_authenticated %}
<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
{% else %}
<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
{% endif %}
{% endblock %}






{% block page_content %}

{{ wtf.quick_form(form) }}
<div class="page-header">
    <!-- {% for r in result %}
        <li href='{{ a.link }}'>{{a.title}}</li>
    {% endfor %} -->

    test
</div>
{% endblock %}
