{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Note{% endblock %}

<!-- {% block head %}
{{ super() }}

{% endblock %} -->


{% block navbarbrand %}
<a class="navbar-brand" href="{{ url_for('main.index') }}">Private Note</a>
{% endblock %}

{% block login %}
{% if current_user.is_authenticated %}
    <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
{% else %}
    <li><a href="{{ url_for('auth.login') }}">登录</a></li>
{% endif %}
{% endblock %}






{% block page_content %}
{{ wtf.quick_form(form) }}

<div class="page_content">

        {% if current_user.is_authenticated %}
            关键词 {{keyword}} 标签 {{tag}} 搜索结果:
            <br>
            <div class="post">
                {{result}}
            </div>


        {% else %}
            Stranger        
        {% endif %}
</div>
{% endblock %}
